Thumbs.db
Desktop.ini
derelict/
Ressources/
*.o
*.a
main
*.vxl
*.exe
*.zip
*.kv6
*.lib
*.dll
*.obj
renderer.d
voxlap.di
*.bat
compile_with_voxlap
compile_with_voxlap_ldc
compile_with_voxlap_gdc
compile_with_voxlap_ll
*.ll
trace.log
trace.def
a.out
config.txt
